@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
:root{
    --primary-dark: purple;
    --primary-green: white;
}

h1{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
}

input, label{
    display: block;
}

input{
    width: 60%;
    margin-bottom: 0.5rem;
    padding: 10px;
    margin: auto;
    border-bottom-left-radius: 10px;
}

#check-number{
    display: block;
    margin: auto;
    margin-top: 1rem;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

body{
    background-color: var(--primary-dark);
    color: var(--primary-green);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#output-box{
    margin-top: 15px;
    font-size: large;
}